#cloud-config
hostname: worker-node
users:
  - name: ansible
    ssh_authorized_keys:
      - ssh-rsa AAAAB3Y2EAAAADAQABAAACAQC2t8rJoPEfgW4mL25FR/kwb7GGH4Umh0GlyNo7cLJ2Kc1ml/ISftwLHtvIvxLdjhByruQ3sbO/M/OHFC65ppl2rP5lqwo2Vs3cUh+Mzx8i2qf9xRIQf8mBNkNzLWoAJ3uME6rJiSExSCE0yDx2HyYtu2o8HcSvK0nicZbMJUE4Hi4h2iKF3Dg02y+hpVSVqr603ERas9kpgEExD7L16bFFRTvyqGpehpIlh36qytC34i+xflsKEoUtO1PNJakAVsLiB60FTEJYtwq671tYpNY6WNnpTun9Q9yMCW86P/LYXYBiF9DCsEQmHlEZztz0mvc/ADNb6RuZUaAmCT2IW8RX9mNlv9WQUH3fRiW8t8xEgrBGDc1cdMMdaoGdtBJEHSqwyBd7XFSFheenRcGvyvoMya9p9NWlnLGpFT3jJ499GpGk8JTkvrPG1VDIc7dQ7F1Q1koRZTLXYEfP3jg2pygT1Huo/dPJ3mMGclcjwicopmjkpiTsLvs4E0TKbUZ3hlen8LCGvVg6lrg3WbjXRUwuRiC8eweiFmkwNRKBBIK7XiyvhrSBIDCGUxODXKzEk6EtDVom/uQfOpVfajiW7TrwNt4611NZHAtQW4EpnJ2MMPvF1/8Q0BjG4kp+PYJVyq13nqRwPy0HaMGhtlqzIrjaP0oJmETIS1sxMkc1NIMx1Q== student@Ubuntu
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
